@{
    Layout = "~/Areas/BackStage/Views/Shared/_LayoutBackMainPage.cshtml";
    ViewBag.Title = "Index of BackStage Home";
}
<style>
    .background-container {
        background-size: cover; /* 或者使用 contain */
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh; /* 你可以根據需要調整高度 */
        width: 80%; /* 確保容器寬度為100% */
    }
</style>

<div class="background-container" style="background-image: url(/images/slider-main-01.jpg); ">
    <h2 style="font-weight:bolder; color:wheat">&nbsp;&nbsp;Welcome to the BackStage</h2>
    <h3 style="font-weight: bolder; color: wheat">&nbsp;&nbsp;<= 請於 "左測選單" 選擇特定功能</h3>
</div>