@{
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
    ViewBag.Title = "Home Page";
}

<h2 class="page-title">關於我們</h2>
<hr class="botmargin-min">

<div class="clearfix _2pi4">
    YES 關於我們
</div>


@*從事火災調查之科技與學術研究，提昇我國火災調查科技研究水準，並落實研究成果。
舉辦相關學術研討會及活動，提供技術資訊與發展之交流平台，參與並推動火災調查、預防及研究等之國內外交流活動。
發行及出版火災調查、預防及研究等相關科技研究之學術刊物、書籍及媒體等。
從事火災原因研究、危險因子診斷及災害預防等技術與系統之研發、相關資料庫之建立、及推廣和教育。
提昇火災預防及調查專業人員之技術，並輔導會員取得國際證照。
維護會員合法權益、端正會員職業道德與倫理、促進會員間之合作。
關懷社會並維護社會公理正義。*@